.exemplo03 {
    display: flex;
    font-size: 1.6rem;
    border: 2px black;
    flex-direction: column;
}

.labelcss {
    display: flex;
    font-size: 1.6rem;
    border: 4px gray;
    flex-direction: column;
}