.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: 96vh;
}

.texto {
    font-size: 3.5rem; 
    margin: 2rem 0;
}

.botao {
    font-size: 2rem;
    border: 0.3rem solid #000;
    border-radius: 2rem; 
    text-align: center; 
    font-weight: bold; 
    padding: 1rem;

    background-color: #3498db;
    color: white;
    transition: 0.3s;
}

.botao:hover {
    background-color: #2ecc71;
}